Backup of the responsive mobile menu
<!-- mobile toggle button -->
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<!-- context switcher part -->
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
        <li class="nav-item">
            <a class="nav-link btn btn-primary" type="button"  data-toggle="modal" data-target="#ContextSwitchModal">Context Switch</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Andreas Tabak
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" data-toggle="modal" data-target="#MenuLanguageModal">Language Switch</a>
                <a class="dropdown-item" data-toggle="modal" data-target="#MenuSettingsModal">Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" data-toggle="modal" data-target="#LogOutModal">Log Out</a>
            </div>
        </li>
    </ul>
</div>
End of backup

Backup of the whole nav UL
<!-- Left menu item -->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand btn btn-primary" type="button"  data-toggle="modal" data-target="#ApplicationModal">
        <img src="assets/img/menu/icon--menu-white.png" width="40" height="40" class="d-inline-block align-middle" alt="Menu icon">
        Your Apps
    </a>
</nav>

<!-- Context switcher -->
<ul class="navbar-nav mx-auto">
    <li class="nav-item">
        <a class="nav-link btn btn-primary" type="button"  data-toggle="modal" data-target="#ContextSwitchModal">Context Switch</a>
    </li>
</ul>

<!-- User preferences -->
<ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Andreas Tabak
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" data-toggle="modal" data-target="#MenuLanguageModal">Language Switch</a>
            <a class="dropdown-item" data-toggle="modal" data-target="#MenuSettingsModal">Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" data-toggle="modal" data-target="#LogOutModal">Log Out</a>
        </div>
    </li>
</ul>
End of backup