@font-face {
  font-family: 'flow-icon--solid';
  src:  url('../fonts/flow-icon--solid.eot?5s5npk');
  src:  url('../fonts/flow-icon--solid.eot?5s5npk#iefix') format('embedded-opentype'),
  url('../fonts/flow-icon--solid.woff2?5s5npk') format('woff2'),
  url('../fonts/flow-icon--solid.ttf?5s5npk') format('truetype'),
  url('../fonts/flow-icon--solid.woff?5s5npk') format('woff'),
  url('../fonts/flow-icon--solid.svg?5s5npk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'flow-icon--solid' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  padding-right: 0.5em;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fis-flag:before {
  content: "\e900";
  font-family: 'flow-icon--solid' !important;
  transform: scale(1, 1);
}
.icon-fis-location:before {
  content: "\e902";
  font-family: 'flow-icon--solid' !important;
  transform: scale(1, 1);
}
.icon-fis-logout:before {
  content: "\e903";
  font-family: 'flow-icon--solid' !important;
  transform: scale(1, 1);
}
.icon-fis-settings:before {
  content: "\e904";
  font-family: 'flow-icon--solid' !important;
  transform: scale(1, 1);
}
